<div layout="row" layout-margin layout-padding layout-fill>
    <div layout="column" flex="32" layout-margin layout-padding layout-fill>
        <h1>{{appdirect_tweets[0].user.name}}</h1>
        <div class="tweet" layout="row" ng-repeat="tweet in appdirect_tweets">
            <section class="profile-img">
                <img ng-src="{{tweet.user.profile_image_url}}">
            </section>
            <section class="content">
                <blockquote>{{tweet.text}}</blockquote>
            </section>
        </div>
    </div>
    <div layout="column" flex="32" layout-margin layout-padding layout-fill>
        <h1>{{techcrunch_tweets[0].user.name}}</h1>
        <div ng-repeat="tweet in techcrunch_tweets">
            {{tweet.text}}
        </div>
    </div>
    <div layout="column" flex="32" layout-margin layout-padding layout-fill>
        <h1>{{laughingsquid_tweets[0].user.name}}</h1>
        <div ng-repeat="tweet in laughingsquid_tweets">
            {{tweet.text}}
        </div>
    </div>
</div>


