<div layout="row" layout-margin layout-padding layout-fill>
    <div layout="column" flex="32">
        <h1>{{appdirect_tweets[0].user.name}}</h1>
        <div class="tweet" layout="row" ng-repeat="tweet in appdirect_tweets">
            <section class="profile-img">
                <img ng-src="{{tweet.user.profile_image_url}}">
            </section>
            <section class="content">
                <blockquote>{{tweet.text}}</blockquote>
            </section>
        </div>
    </div>


    <div layout="column" flex="32">
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="tweet in appdirect_tweets">
                <img ng-src="{{tweet.user.profile_image_url}}" class="md-avatar">
                <div class="md-list-item-text">
                    <span>{{appdirect_tweets[0].user.name}}</span><span>{{tweet.created_at}}</span>
                    <p>{{tweet.text}}</p>
                    <block-quote>{{tweet.created_at}}</block-quote>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>



    <!--<div layout="column" flex="32" layout-margin layout-padding layout-fill>-->
        <!--<h1>{{techcrunch_tweets[0].user.name}}</h1>-->
        <!--<div ng-repeat="tweet in techcrunch_tweets">-->
            <!--{{tweet.text}}-->
        <!--</div>-->
    <!--</div>-->
    <!--<div layout="column" flex="32" layout-margin layout-padding layout-fill>-->
        <!--<h1>{{laughingsquid_tweets[0].user.name}}</h1>-->
        <!--<div ng-repeat="tweet in laughingsquid_tweets">-->
            <!--{{tweet.text}}-->
        <!--</div>-->
    <!--</div>-->
</div>


